<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta lang="en" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="theme-color" content="#f00" />
    <meta
      name="description"
      content="kis9a - manage profile, images, memos, snippets, tasks, zenn, wkatime | me.kis9a.com"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico" /> -->
    <!-- <link rel="icon" href="icons/apple-touch-icon.png" type="image/x-icon" /> -->
    <!-- <link -->
    <!--   rel="apple-touch-icon" -->
    <!--   sizes="120x120" -->
    <!--   href="icons/apple-touch-icon-120x120.png" -->
    <!-- /> -->
    <!-- <link -->
    <!--   rel="apple-touch-icon" -->
    <!--   sizes="152x152" -->
    <!--   href="icons/apple-touch-icon-152x152.png" -->
    <!-- /> -->
    <!-- <link -->
    <!--   rel="apple-touch-icon" -->
    <!--   sizes="167x167" -->
    <!--   href="icons/apple-touch-icon-167x167.png" -->
    <!-- /> -->
    <!-- <link -->
    <!--   rel="apple-touch-icon" -->
    <!--   sizes="180x180" -->
    <!--   href="icons/apple-touch-icon-180x180.png" -->
    <!-- /> -->
    <link rel="preconnect" href="https://me.kis9a.com" />
    <link rel="dns-prefetch" href="https://me.kis9a.com" />
    <title>kis9a - me</title>
    <meta property="og:title" content="kis9a - me" />
    <meta
      property="og:image"
      content="https://avatars2.githubusercontent.com/u/65019715?s=400&u=731fbe172c33e4511a105e3cc5e697c9e3c87fd3&v=4"
    />
    <meta
      property="og:description"
      content="kis9a - manage profile, images, memos, snippets, tasks, zenn, wkatime | me.kis9a.com"
    />
    <meta property="og:url" content="https://me.kis9a.com" />
    <meta property="og:site_name" content="kis9a - me" />
    <meta property="og:type" content="website" />
    <meta name="twitter:site" content="me.kis9a.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="me.kis9a" />
    <meta
      name="twitter:image"
      content="https://avatars2.githubusercontent.com/u/65019715?s=400&u=731fbe172c33e4511a105e3cc5e697c9e3c87fd3&v=4"
    />
    <meta
      name="twitter:description"
      content="kis9a - manage profile, images, memos, snippets, tasks, zenn, wkatime | me.kis9a.com"
    />
    <link href="index.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="index.js"></script>
  </body>
</html>
