@supports (display: grid) {
  .indexes {
    background-color: var(--color-shadow);
    border: 2px solid var(--color-bg-secondary);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    margin-bottom: 4rem;
  }
}

.indexes img {
  height: auto;
  width: 100%;
}

.indexes img {
  border: 1px solid var(--color-bg-secondary);
}
