.svgs {
  background-color: var(--color-shadow);
  border: 1px solid var(--color-bg-secondary);
}

@supports (display: grid) {
  .svgs .item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 2rem;
    padding: 2rem;
    margin-bottom: 4rem;
  }
}

.svgs img {
  border: 1px solid var(--color-bg-secondary);
}

.date {
  padding: 1rem;
}
