.index-search {
  width: 12rem;
  margin: 0;
  font-size: 1.2rem;
  border-radius: 1px;
  border-color: var(--color-bg-secondary);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.index-toggle-button {
  width: 2.2rem !important;
  display: flex;
  justify-content: center;
}

.index-toggle-button:hover {
  cursor: pointer;
}

.indexes {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  margin: 0;
  background-color: var(--color-shadow);
  margin: 1rem;
}

.index {
  display: block;
  padding: 2px 4px;
  width: auto;
  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: var(--color-shadow);
  border: 0.5px solid var(--color-bg-secondary);
  margin: 0 3px 3px 0;
  cursor: pointer;
}

.index:hover {
  background-color: var(--color-bg-secondary);
}

.tabs {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: var(--color-shadow);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tabs svg,
.index-toggle-button {
  width: 1.3rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 0.9;
  color: #665c54;
  padding: 0.5rem;
}

.tab {
  padding: 0.4rem;
  height: 1.5rem;
  background-color: var(--color-shadow);
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-bg-secondary);
  border-right: 1px solid var(--color-bg-secondary);
  display: flex;
  align-items: center;
}

.tab-label {
  margin: 0 4px;
}

.tab-close {
  display: flex;
  align-items: center;
}

.tab-category {
  display: flex;
  flex-wrap: wrap;
}

.category {
  cursor: pointer;
  padding: 1rem;
}

.tab:hover {
  background-color: var(--color-bg-secondary);
}

.tab-memo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
}

.tab-content {
  padding: 1rem;
  font-size: 1.2rem;
}

.tab-memo-input {
  max-width: unset;
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem !important;
  line-height: 3.4rem;
  border: unset !important;
}

.tab-memo-view {
  max-width: unset;
  margin: 0;
  padding: 0.5rem;
  font-size: 2rem;
}

.svg-top {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  padding: 1rem;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  color: black;
  border-radius: 50%;
  border: 3px solid var(--color-bg-secondary);
  background-color: var(--color-shadow);
}

.svg-top:hover {
  background-color: var(--color-bg-secondary);
}

.hide {
  display: none;
}

.selected {
  background-color: #efefef;
  font-weight: 500;
}
