@import url("../../modules/css/mvp.css");

div {
  border-radius: 2px;
}

body {
  min-height: 100vh;
}

.main {
  padding: 0rem;
}

.header {
  max-width: unset;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 1.6rem;
  font-weight: 400;
  background: var(--color-shadow);
  border: 1px solid var(--color-bg-secondary);
}

.container {
  margin-top: calc(8rem);
  padding: 0 1.2rem;
}

.home {
  margin: auto 1rem;
  text-align: left;
  max-width: var(--width-content);
  letter-spacing: 0.3rem;
  width: 100%;
  display: flex;
}

.home span {
  padding: 0.4rem;
  border-radius: 2px;
}

.home span:first-child {
  cursor: pointer;
  font-family: Avenir;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  display: block;
  margin: 0;
  padding: 4px;
  letter-spacing: 1.2px;
}

.home span:first-child:hover {
  border-color: black;
}

.home span:last-child {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-top: auto;
}

.home span:last-child {
  border-color: var(--color-bg-secondary);
}

.inputs {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  background-color: var(--color-shadow);
  border: 1px solid var(--color-bg-secondary);
  margin: 0;
  margin-bottom: 1.2rem;
}

.inputs input {
  height: 1.2rem;
  margin: 0;
  margin-right: 0.2rem;
}

.inputs .index-toggle-button {
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0 0.6rem;
  opacity: 0.6;
  color: black;
  margin-left: auto;
}

.inputs .index-search {
  margin-right: 1rem;
  min-width: 14rem;
}

.inputs .index-toggle-button:hover {
  color: black;
}

[type="date"] {
  background: #fff
    url('data:image/svg+xml;charset=UTF-8,<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>')
    no-repeat 95% center;
  color: gray;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  opacity: 0.6;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.indexes {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  margin: 0;
  margin-bottom: 1.2rem;
}
.index {
  display: block;
  margin: 2px;
  padding: 2px 4px;
  width: auto;
  font-size: 10px;
  letter-spacing: 2px;
  background-color: var(--color-shadow);
  border: 0.5px solid var(--color-bg-secondary);
  cursor: pointer;
}

.index:hover {
  background-color: var(--color-bg-secondary);
}

.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  background: var(--color-shadow);
  border: 0.5px solid var(--color-bg-secondary);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tab {
  padding: 0.4rem;
  height: 1.5rem;
  background-color: var(--color-shadow);
  border: 1px solid var(--color-bg-secondary);
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2px 6px 0 0;
  border-style: solid;
  display: flex;
  align-items: center;
}

.tab:hover {
  background-color: var(--color-bg-secondary);
}

.tab-label {
  margin: auto auto;
}

.tab-close {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.tab-close:hover {
  font-weight: 600;
  color: black;
  opacity: 1;
}

.tab-memo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.tab-memo-input {
  max-width: unset;
  margin: 0;
  padding: 0.5rem;
  max-width: unset;
  font-size: 2rem;
}

.tab-memo-view {
  max-width: unset;
  margin: 0;
  padding: 0.5rem;
  font-size: 2rem;
}

.content {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.8rem 0.4rem;
  word-wrap: wrap;
  word-break: break-all;
  padding: 1rem;
  background-color: var(--color-shadow);
  border: 1px solid var(--color-bg-secondary);
}

.svg-top {
  cursor: pointer;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.6;
  color: black;
}

.tabs svg {
  width: 1.2rem;
  height: 1.5rem;
  cursor: pointer;
  opacity: 0.8;
  color: gray;
}

.svg-top:hover {
  color: black;
}

.hide {
  display: none;
}

.selected {
  background-color: #efefef;
  font-weight: 500;
}
