.logo {
  margin: auto 1rem;
  text-align: left;
  max-width: var(--width-content);
  letter-spacing: 0.2rem;
  width: 100%;
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  margin: auto 1rem;
}

.header-wrapper {
  background-color: var(--color-shadow);
  border: 1px solid var(--color-bg-secondary);
}

.link {
  margin: 0.2rem;
}
