body {
  background: black;
  color: white;
}

a {
  color: white;
}

pre,
code {
  width: 100%;
  word-wrap: normal;
}
code.hljs-keyword {
  word-wrap: normal;
}

#app {
  margin: 12px;
}

#header {
  padding: 16px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
}

#burger-button {
  display: none;
}

#memo-search {
  width: 300px;
}

#link-container {
  margin-top: 50px;
}

#link-search {
  margin-bottom: 12px;
}

#links {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
}

#label {
  margin-top: 50px;
}

.link {
  margin: 2px;
  padding: 4px;
  width: auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

@media only screen and (max-width: 800px) {
  #app {
    display: block;
  }
  #burger-button {
    display: block;
  }
}
