#app {
  margin: 12px;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-gap: 12px;
}

.header {
  margin: 8px 0;
  grid-column: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#memo-search {
  width: 300px;
}

#links {
  display: flex;
  flex-direction: column;
}

.link {
  margin: 4px;
  padding: 4px;
  width: auto;
  background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1024px) {
  #app {
    display: block;
  }

  .links {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
